Elis Axelsson <elis.axelsson@gmail.com> Elis <elis.axelsson@gmail.com>
David Arroyo Menéndez <davidam@gnu.org> David Arroyo7 <davidam@gnu.org>
Jen-Chieh Shen <jcs090218@gmail.com> JenChieh <jcs090218@gmail.com>
Joe Wreschnig <joe.wreschnig@gmail.com> Joe <joe@dev3>
Jon Dufresne <jon.dufresne@gmail.com> Jon Dufrense <mailto:jon.dufresne@gmail.com>
Syohei YOSHIDA <syohex@gmail.com> Shohei YOSHIDA <shohei.yoshida@dena.com>
Syohei YOSHIDA <syohex@gmail.com> Syohei Yoshida <syohex@gmail.com>
